@import url('https://fonts.googleapis.com/css2?family=Genos:wght@500&family=Itim&family=Poppins:wght@400;700&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
}

.container-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

section {
  padding-top: 6rem;
}

main,
footer {
  padding: 0 12px;
}

/* Header */
.brand {
  display: flex;
  align-items: center;
  /* padding-left: 13px; */
}

.brand-title {
  font-size: 3rem;
  font-family: 'Genos', sans-serif;
}

.brand img {
  height: 40px;
  width: 40px;
  margin-top: 12px;
}

/* h1 {
  font-family: 'Genos', sans-serif;
  font-size: 4rem;
} */

.nav-item {
  margin-left: 2rem;
}

/* Main */
h2 {
  color: #4c1430;
  border-bottom: 2px solid #4c1430cc;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

li {
  margin-bottom: 1rem;
}

.instructions__img--demo {
  margin-left: 2rem;
  width: 300px;
  height: 300px;
}

.team__image {
  height: auto;
  width: 250px;
  margin-right: 3rem;
  border-radius: 2px;
}

.socials a {
  display: inline-block;
  font-size: 1.5rem;
  margin-right: 2rem;
  text-decoration: none;
}
.socials i {
  font-size: 2rem;
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
}
.made {
  font-size: 0.8rem;
}
.attributions {
  font-size: 0.7rem;
}

/* Utils */
.flex {
  display: flex;
}
.justify-content-between {
  justify-content: space-between;
}
.align-items-start {
  align-items: flex-start;
}
.align-items-center {
  align-items: center;
}
.w100 {
  width: 100%;
}
.w50 {
  width: 50%;
}
